* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lin-grad-1: rgba(0, 0, 0, 0.5);
    --lin-grad-2: rgba(1, 0, 0, 0.8);
    --bg-image:url(./imagenes/toyota-avanza.jpg);
    --color_Theme-1:#FDB813;
    --Yellow-bright:#FCEF14;
    --Yellow-medium-bright:#FCD314;
    --color_Theme-2:#2A2A2A;
    --h1_font-Size:3.4rem;
    --h2_font-Size:2.8rem;
    --h3_font-Size:2.2rem;
    --p_big-font-Size:1.8rem;
    --main_content-big-fontSize:4rem;
    --main_content-small-fontSize:2rem;
    --main_content-button-fontSize:2rem;
    --service_Icons-size:10rem;
    --header_Bg_color:black;
    --header_font_color:white;
    --Header_Font_size:1.8rem;
    --Header_Vertical_Padding:0.8rem;
    --font-family1: 'Caveat', cursive;
    --font-family2: 'Zilla Slab', serif;
    --font-family3: 'Lora', serif;


}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family3);
    font-size: 1.6rem;
}

img {
    width: 100%;
    display: block;
    height: 100%;
}
li {
    list-style: none;
}
a,
a:visited {
    color: inherit;
    text-decoration: none;
}
section{
    padding: 2rem 0;
}
h1,
h2,
h3 {
        font-family: var(--font-family3);
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--Header_Vertical_Padding) 4rem;
    gap: 1.8rem;
    background-color: #000;
    color: var(--header_font_color);
    z-index: 200;
    font-family: var(--font_Style-1);
    font-size: var(--Header_Font_size);
}
/* Modal */
.modal {
    display: none;
}

/* Keeping the logo in one line */
.logo {
    width: 100%;
    max-width: fit-content;
    color: var(--color_Theme-1);
    font-weight: bold;
    font-family: var(--font-family1);
    font-size: var(--h2_font-Size);
    user-select: none;

}
/* Navbar */
.navbar {
    width: 100%;
    font-family: var(--font-family3);
}
.navbar > #navigation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}
#navigation > li {
    padding: 5px 12px;
    border-radius: 14px;
    transition: 0.2s ease;
    transition-property: background, color;
    cursor: pointer;
    display: flex;
}
#navigation > li:hover {
    background-color: var(--color_Theme-1);
    color: var(--color_Theme-2);
}


#navigation > li:hover img {
    filter: invert(1);
    transition: filter 0.2s ease;
}
#transportes {
    position: relative;
}
#transportes > .subnavigation-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.8rem;
    transform: translateY(100%);
    display: none;
    left: 0;
    background-color: black;
    color: white;
}

#transportes:hover > .subnavigation-wrapper {
    display: grid;
}

.transporte-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: .4rem .6rem;
    font-family: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;

}

#tipo-transportes > li {
    margin: 0.4rem 0;
}
#tipo-transportes a {
    width: 100%;
    display: block;
    padding: 0.4rem 0.4rem;
}
/* Subnavigation list items */
#tipo-transportes > li:hover,
#tipo-transportes > li:focus-within {
    background-color: var(--color_Theme-1);
    color: var(--color_Theme-2);
}

/* Header Icons */
.bars-menu-btn {
    background: url('./Imagenes/SVG/bars-solid.svg') center/cover no-repeat;
}

.close-menu-btn,
.close-dialog-btn {
    background: url('./Imagenes/SVG/xmark-solid.svg') center/cover no-repeat;
}

.bars-menu-btn,
.close-menu-btn,
.close-dialog-btn {
    width: 2rem;
    height: 2rem;
    border: none;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
}
.close-dialog-btn {
    display: block;
}
/* MAIN */
.main {
    background: linear-gradient(45deg, var(--lin-grad-1) 5%, var(--lin-grad-2)),
    var(--bg-image) center/cover no-repeat ;
    width: 100%;
    min-height: 70vh;
    position: relative;
    padding: calc(var(--Header_Vertical_Padding) * 1.5 + var(--Header_Font_size) + var(--h1_font-Size));
}
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 8vw;
    justify-content: center;
}
@media (prefers-reduced-motion: no-preference) {
    .text-wrapper {
        opacity: 0;
        overflow: hidden;
        transform: translateY(40px);
        animation: slide-up 1500ms 700ms forwards;
    }
}

@keyframes slide-up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-Left {
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes slow-opacity-1 {
    100% {
        opacity: 1
    }
}
.main-content h1 {
    word-spacing: 3px;
    letter-spacing: 2px;
    color: var(--Yellow-bright);
    
}
.main-content span {
    font-size:var(--main_content-small-fontSize) ;
    color: white;
    margin-bottom: 2.3rem;
    word-spacing: 2px;
}
.text-wrapper{
    display: grid;
}

.plan-travel-btn {
    padding: .8rem 1rem;
    font-size: var(--main_content-button-fontSize);
    background-color: var(--Yellow-medium-bright);
    color: black;
    border-radius: 1.5rem;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
    transition: transform 150ms, background 100ms;
}
.plan-travel-btn:hover {
    transform: scale(0.98);
    background-color: var(--color_Theme-1);
}
h1 {
    text-shadow: 2px -2px 3px var(--color_Theme-2),
    -2px 2px 3px var(--color_Theme-2);
    font-size: var(--h1_font-Size);
    color: var(--color_Theme-1);
    text-align: center;
    margin-bottom: var(--h1_font-Size);
}

@media (prefers-reduced-motion: no-preference) {
    h1 {
        opacity: 0;
        transform: translate(100px);
        animation: slide-Left 1200ms 300ms ease forwards;
    }
}

.logos-wrapper {
    position: absolute;
    display: flex;
    gap: 1.4rem;
    bottom: 2rem;
    right: 4rem;
    
}
.logos-wrapper img {
    max-height: 6rem;
    aspect-ratio: 1;
    width: 6rem;
    filter: brightness(.8);
    user-select: none;
} 

@media (prefers-reduced-motion: no-preference) {
    .logos-wrapper img {
        opacity: 0;
        animation: slow-opacity-1 2200ms 500ms ease-in forwards;
    }
}

/* =====Local====== */
#local {
    background: rgb(207, 208, 205);
        background: linear-gradient(135deg, rgba(207, 208, 205, 1) 23%, rgba(255, 255, 255, 1) 92%);
}
#local img {
    border-radius: 25rem;
    max-width: 600px;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: var(--p_big-font-Size);
    padding: 2rem 3rem;
    gap: var(--p_big-font-Size);
    place-items: center;
}
.big-text {
    font-size: var(--p_big-font-Size);
    line-height: 150%;
    letter-spacing: 1px;
    word-spacing: 2px;
}


/* ======Skills====== */
#skills {
    background: rgb(207, 208, 205);
    background: linear-gradient(45deg, rgba(207, 208, 205, 1) 23%, rgba(255, 255, 255, 1) 92%);
}
h2 {
    margin-bottom: 2rem;
    font-size: var(--h2_font-Size);
}
/* Service-content-wrapper */
.service-content-wrapper {
    display: flex;
    gap: 2.9rem;
    max-width: 95%;
    margin: 0 auto;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 2rem 1rem;
    position: relative;
    overflow-x: hidden;
    border: 1px solid black;
    background-color: #2A2A2A;
    color: var(--color_Theme-1);
    border-radius: 1.1rem;
    cursor: pointer;
    transition: transform 500ms ease;
    gap: 1.3rem;
}
.service h3 {
    font-size: var(--h3_font-Size);
    margin-bottom: auto;
}
.service:nth-child(even) {
    background-color: var(--color_Theme-1);
    color: #2A2A2A;
}
.service:nth-child(even)::after {
    background-color: #2A2A2A;
}
.service > i,
.service > strong {
    font-size: var(--service_Icons-size);
    margin-bottom: auto;
}
.service > strong {
    border: 2px solid black;
    padding: .6rem;
    background-color: white;
}
.service> p {
    font-size: var(--p_big-font-Size);
    text-align: center;
}
.service::after {
    content: '';
    position: absolute;
    background-color: var(--color_Theme-1);
    bottom: 0;
    width: 100%;
    height: 1rem;
    transition: transform 500ms ease;
    transform: translateX(-100%);
}
.service:hover {
    transform: scale(1.05);
}
.service:hover::after {
    transform: translateX(0);
}
/* Foraneo */
#foraneo {
    background-color: var(--color_Theme-2);
    background: linear-gradient(rgb(11, 11, 11) 65%, var(--color_Theme-2));
    color: white;
    padding: 7vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#foraneo > p {
    font-size: var(--main_content-small-fontSize);
    text-align: center;
}
#foraneo-list figure {
    position: relative;
    flex: 1;
}
figure img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}
#foraneo > * {
    max-width: 100%;
    padding: 0 5%;
}
#foraneo > h2 {
    text-align: center;
}
/* Legend */
#foraneo-list > li figcaption {
    position: absolute;
    background-color: rgb(0, 0, 0);
    left: 0;
    bottom: 0;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    z-index: 10;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: #fff;
    padding: .4rem 2rem;
}
/* Location Icon */
figcaption img {
    width: fit-content !important;
    height: fit-content !important;
}

/* SWIPER JS */
.swiper {
    width: 100%;
    max-width: 90% !important;
    height: 100%;
    padding: 0 !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    filter: brightness(.8);
}
.swiper-button-next,
.swiper-button-prev {
    color:rgba(255, 255, 255, 0.75) !important;
    transform: translateY(-50%) scale(.85);
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
    color: var(--Yellow-bright) !important;
}
.active-color {
    color: var(--Yellow-bright) !important;
}

/* SWIPER MODALS */
dialog {
        width: 100vw !important;
        height: 100vh !important;
        min-height: 100vh;
        z-index: 666;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        position: fixed;
}
dialog h3 {
    margin-bottom: 2rem;
    font-size: var(--h3_font-Size);
    width: calc(100% - 5.6rem);
 
    text-align: center;

}
dialog strong {
    font-size: var(--p_big-font-Size);
}
dialog[open] .info-container{
    animation: fade-in 0.5s ease forwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        display: none;
    }

    100% {
        opacity: 1;
        transform: translateY(-50%);
        display: flex;
    }
}
dialog .info-container {
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    padding: 3rem 1rem;
    max-width: 70vw;
    margin: 0 auto;
    border-radius: 1.4rem;
}
.close-dialog-btn {
    position: absolute;
    right: 2rem;
    top: 3rem;
    background-color: black;
    z-index: 999;
    border-radius: 100%;
    padding: .6rem;
    border: 1px solid black;
}
.dialog-main-img {
    max-width: 450px;
    max-height: 450px;
    margin-bottom: 1.8rem;
}
.info-container .text-container {
    gap: 1rem;
}
.text-container span {
    margin-top: 1rem;
    font-style: italic;
}
.text-container a {
    width: fit-content;
}
/* =====TOURS===== */
#tours {
    text-align: center;
}
/* ======CONTACTO===== */
#contacto {
    color: black;
    display: grid;
    place-items: center;
    grid-template-columns: .5fr 1fr;
    border: 2px solid black;
    padding: 0;
}
/* left side */
.personal-info {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 6rem 6rem;
    text-align: center;
}

.promo-contexto {
    color: var(--Yellow-medium-bright);
    font-size: var(--h3_font-Size);
}
#contacto h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.driver {
    font-size: var(--h3_font-Size);
    margin-bottom: 1.5rem;
}
.contact-name {
    font-weight: bold;
}
.contact-whatsapp-link {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #25D366 !important;
    margin-bottom: 2rem;
}

.contact-phone {
    font-size: var(--h3_font-Size);
    font-weight: bold;
    font-family: var(--font-family3);
}

.whatsapp-logo {
    max-width: calc(var(--h3_font-Size) * 2);
    user-select: none;

}
/* Right side */
.contacto-bg {
    background: url('./imagenes/contacto.jpg') center/cover  no-repeat;
    height: 100%;
    min-height: 50vh;
    width: 100%;
}

/* Generic */
.text-center {
    text-align: center;
}
.sml-icon {
    max-width: 2.5rem;
}
.smallest-w-icon {
    max-width: 1rem;
    object-fit: contain;
}
.flex {
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.italic {
    font-style: italic;
    margin-bottom: 2.5rem;
}
.justify-center {
    justify-content: center;
} 
.place-items-center {
    place-items: center;
}
.gap-2 {
    gap: 2rem;
}
.location-qstn-btn {
    border-radius:50rem;
    padding: .4rem .8rem;
    font-size: var(--p_big-font-Size);
    font-weight: bold;
    background-color: black;
    backdrop-filter: blur(2rem);
    color:white;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
    font-size: var(--p_big-font-Size);
}
.location-qstn-btn:hover,
.location-qstn-btn:focus-visible{
    background-color: white;
    color: black;
    
}
/* Extra small devices (phones, 340px and down) */

@media only screen and (max-width: 600px) {
    :root {
            --h1_font-Size: 2.4rem;
            --h2_font-Size: 2.3rem;
            --h3_font-Size: 1.8rem;
            --p_big-font-Size: 1.4rem;
            --main_content-big-fontSize: 3.2rem;
            --main_content-small-fontSize: 1.8rem;
            --service_Icons-size: 6rem;
            --main_content-button-fontSize:1.7rem;
        }
    .main-content h1 {
        text-align: start;
    }
}
/* Extra small */
@media only screen and (max-width: 340px) {
    :root {
        --h1_font-Size: 2.2rem;
        --h2_font-Size: 2.2rem;
        --h3_font-Size: 1.9rem;
        --p_big-font-Size: 1.7rem;
        --main_content-big-fontSize: 2.2rem;
        --main_content-small-fontSize: 1.7rem;
        --service_Icons-size: 5rem;
        --main_content-button-fontSize: 1.5rem;
    }
    .main-content {
        text-align: start;
        align-items: start;
    }
        .close-dialog-btn {
            right: .7rem;
            top: 3rem;
            border: 1px solid black;
            width: 1rem;
            height: 1rem;
        }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    header > .navbar {
            min-height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            display: flex;
            width: 50%;
            max-width: 250px;
            z-index: 999;
            pointer-events: none;
            transform: translateX(100%);
            transition: transform 500ms ease;
            background-color: black;
            opacity: 0;
            pointer-events: none;
            z-index: 999;
        }
        .bars-menu-btn {
            display: block;
        }
        header > .navbar.open {
            transform: translateX(0);
            pointer-events: all;
        }
        .navbar > #navigation {
            flex-direction: column;
            margin: auto;
            height: 100vh;
            max-height: 80vh;
            z-index: 350;
        }
        .modal {
            display: none;
            pointer-events: none;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 200;
        }
        .modal.open {
            display: block;
            pointer-events: all;
        }
        .service-content-wrapper {
            flex-direction: column;
            max-width: 90%;
        }
        .main {
            width: 100%;
            padding: calc(var(--Header_Vertical_Padding)  + var(--Header_Font_size) + var(--h1_font-Size)) calc(var(--Header_Vertical_Padding) * 1.5);
        }
        .main-content {
            margin-left: 0;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 7vh 1rem;
        }
        .main-content h1 {
            text-align: center;
        }
        .plan-travel-btn {
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
        }
        .close-menu-btn {
            position: absolute;
            display: block;
            right: min(3rem, 3vw);
            top: min(8rem, 7vh);
            height: 20px;
            object-fit: cover;
        }
        .grid-wrapper {
            grid-template-columns: 1fr;
        }
        /* Header submenu */
        #transportes > .subnavigation-wrapper {
            display: grid;
            grid-template-rows: 0fr;
            padding: 0;
            margin: 0;
            transition: grid 100ms linear, opacity 100ms linear;
            opacity: 0;
        }

        #transportes>.subnavigation-wrapper.open {
            grid-template-rows: 1fr;
            pointer-events: all;
            opacity: 1;
        }

        #transportes>.subnavigation-wrapper > ul {
            overflow: hidden;
        }
        .navbar.open {
            opacity: 1 !important;
            transform: translate(0) !important;
            pointer-events: all;
        }
        #contacto {
            grid-template-columns:1fr;
        }
        /* Left contacto */
        .personal-info {
            grid-row: 2/3;
        }
        /* Right contacto */
        .contacto-bg {
            grid-row: 1/2;
        }
        /* Dialog */
      
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .service-content-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    .service:nth-child(2) {
        grid-column: 1/3;
        grid-row:2/3 ;
    }
    .service:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #contacto {
        grid-template-columns: 1fr;
    }

    /* Left contacto */
    .personal-info {
        grid-row: 2/3;
    }

    /* Right contacto */
    .contacto-bg {
        grid-row: 1/2;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
:root {
        --h1_font-Size: 5rem;
        --h2_font-Size: 3.4rem;
        --h3_font-Size: 2.6rem;
        --p_big-font-Size: 2.2rem;
        --main_content-big-fontSize: 5rem;
        --main_content-small-fontSize: 3rem;
        --main_content-button-fontSize: 2rem;
        --service_Icons-size: 10rem;
    }
    .main-content{
        text-align: start;
    }


    .main-content span {
        font-size: var(--main_content-small-fontSize);
        color: white;
        margin-bottom: 3.5rem;
    }
        .plan-travel-btn {
            padding: 1.4rem 1.8rem;
        }
}