* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lin-grad-1:rgba(0, 0, 0, 0.303);
    --lin-grad-2:rgba(0, 0, 0, 0.867);
    --bg-image:url(./imagenes/IMG-20231129-WA0009.jpg);
    --color_Theme-1:#FDB813;
    --color_Theme-2:#2A2A2A;
    --h1_font-Size:3.4rem;
    --h2_font-Size:2.8rem;
    --h3_font-Size:2.2rem;
    --p_big-font-Size:1.8rem;
    --main_content-big-fontSize:4rem;
    --main_content-small-fontSize:2rem;
    --main_content-button-fontSize:2rem;
    --service_Icons-size:10rem;
}
html {
    font-size: 62.5%;
}

img {
    width: 100%;
    display: block;
    height: 100%;
}
li {
    list-style: none;
}
a,
a:visited {
    color: inherit;
    text-decoration: none;
}
section {
    margin: 2rem 0;
}
.main {
    background: linear-gradient(45deg, var(--lin-grad-1) 5%, var(--lin-grad-2)),
    var(--bg-image) center/cover no-repeat ;
    width: 100%;
    min-height: 70vh;
    position: relative;
    padding: 2rem 3rem;
}
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (prefers-reduced-motion: no-preference) {
    .main-content {
        opacity: 0;
        overflow: hidden;
        transform: translateY(40px);
        animation: slide-up 1500ms 300ms forwards;
    }
}

@keyframes slide-up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.main-content strong{ 
    font-size: var(--main_content-big-fontSize);
    color: white;
    margin-bottom: 1.8rem;
}
.main-content span {
    font-size:var(--main_content-small-fontSize) ;
    color: white;
    margin-bottom: 2.3rem;
}
.main-content button {
    background-color: var(--color_Theme-1);
    padding: 1rem .8rem;
    font-size: var(--main_content-button-fontSize);
    border-radius: 1.5rem;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
}
h1 {
    text-shadow: 2px -2px 3px var(--color_Theme-2),
    -2px 2px 3px var(--color_Theme-2);
    font-size: var(--h1_font-Size);
    transform: translate(100px);
    opacity: 0;
    animation: slide-Left 1000ms ease forwards;
    color: var(--color_Theme-1);
    text-align: center;
    margin-bottom: var(--h1_font-Size);
}
@keyframes  slide-Left{
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
.logos-wrapper {
    position: absolute;
    display: flex;
    gap: 1.4rem;
    bottom: 2rem;
    right: 4rem;
}
.logos-wrapper img {
    max-height: 6rem;
    aspect-ratio: 1;
    width: 6rem;
    filter: brightness(.8);
    animation:slow-opacity-1 2200ms 500ms ease-in forwards;
    opacity: 0;
} 
@keyframes slow-opacity-1 {
    100% {
        opacity:1
    }
}
/* =====Local====== */
#local {

}
#big-grid-img {
    max-width: 600px;
    border-radius: 100vw;
}
/* ======Skills====== */
#skills {
    margin-top: 8rem;

}
#skills > h2 {
    text-align: center;
    font-size: var(--h2_font-Size);
    color: black;
    margin-bottom: 2rem;
}
/* Service-content-wrapper */

.service-content-wrapper {
    display: flex;
    gap: 2.9rem;
    max-width: 95%;
    margin: 0 auto;
}

.service {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    transition: transform 500ms ease;
    position: relative;
    overflow-x: hidden;
    background-color: #2A2A2A;
    color: var(--color_Theme-1);
    border-radius: 1.1rem;
    cursor: pointer;
    flex: 1;
}
.service h3 {
    margin-bottom: 1rem;
    font-size: var(--h3_font-Size);
}
.service:nth-child(even) {
    background-color: var(--color_Theme-1);
    color: #2A2A2A;
}
.service:nth-child(even)::after {
    background-color: #2A2A2A;
}

.service > i {
    font-size: var(--service_Icons-size);
    margin-bottom: 2rem;
}
.service > p {
    font-size: var(--p_big-font-Size);
    text-align: center;
}
.service::after {
    content: '';
    position: absolute;
    background-color: var(--color_Theme-1);
    bottom: 0; 
    width: 100%;
    height: 1rem;
    transition: transform 500ms ease;
    transform: translateX(-100%);
}
.service:hover {
    transform: scale(1.05);
}
.service:hover::after {
    transform: translateX(0);
}
#guarantees {
    background-color: var(--color_Theme-2);
    height: 30vh;
    width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
            --lin-grad-1: rgba(0, 0, 0, 0.303);
            --lin-grad-2: rgba(0, 0, 0, 0.867);
            --bg-image: url(./imagenes/IMG-20231129-WA0009.jpg);
            --color_Theme-1: #FDB813;
            --color_Theme-2: #2A2A2A;
            --h1_font-Size: 4rem;
            --h2_font-Size: 2.3rem;
            --h3_font-Size: 1.8rem;
            --p_big-font-Size: 1.4rem;
            --main_content-big-fontSize: 3.2rem;
            --main_content-small-fontSize: 2.1rem;
            --service_Icons-size: 6rem;
            --main_content-button-fontSize:1.5rem;
        }
        .service-content-wrapper {
            flex-direction: column;
            max-width: 90%;
        }
        .main {
            width: 100%;
        }
        .main-content {
            margin-left: 0;
            flex-direction: column;
            align-items: start;
        }
        
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
            background-color: blue;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-color: yellow;
            
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
            background-color: purple;
        }
}