* {
    margin: 0;
    padding: 0;
}

:root {
    --lin-grad-1:rgba(0, 0, 0, 0.303);
    --lin-grad-2:rgba(0, 0, 0, 0.867);
    --bg-image:url(./imagenes/IMG-20231129-WA0009.jpg);
}
html {
    font-size: 62.5%;
}

img {
    width: 100%;
    display: block;
    height: 100%;
}

h1 {
    text-align: center;
}

.box-1 {
    background: linear-gradient(45deg, var(--lin-grad-1) 5%, var(--lin-grad-2)),
            var(--bg-image) center/cover no-repeat ;
    width: 100%;
    height: 50vh;
    position: relative;
    padding-top: 4rem;
}

.flying-box {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, 30%);
    color: black;
    border-radius: 2rem;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

button {
    color: black;
    background-color: yellow;
    margin: 1.4rem auto 0 auto;
    padding: 0.6rem 1.2rem;
    width: fit-content;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}
h1 {
    color: white;
    text-shadow: 2px -2px 3px black,
    -2px 2px 3px black;
    font-size: 3.4rem;
    margin-top: 3rem;
    transform: translate(100px);
    opacity: 0;
    animation: slide-Left 1000ms ease forwards;
}
@keyframes  slide-Left{
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
.logos-wrapper {
    position: absolute;
    display: flex;
    gap: 1.4rem;
    bottom: 2rem;
    left: 4rem;
}


.logos-wrapper img {
    max-height: 8rem;
    aspect-ratio: 1;
    width: 8rem;
    filter: brightness(.8);
    animation:slow-opacity-1 2200ms 500ms ease-in forwards;
    opacity: 0;
} 
@keyframes slow-opacity-1 {
    100% {
        opacity:1
    }
}
.container-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}
.container-grid > div {
    position: relative;
}
.input-wrapper {
    font-size: 2.4rem;
}
.input-wrapper > i {
    position: absolute;
    bottom: 0;
    left: .4rem;
    width: 100%;
    max-width: 2.4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-wrapper > input {
    padding-left: 3.2rem;
    background-color: rgb(225, 225, 225);
    font-size: 2.2rem;
}
.fa-car {
    color: rgb(228, 217, 95);
}
.fa-location-dot {
    color: red;
}

.fa-check {
    color: blue;
}

#second {
    margin-top: 8rem;

}
#second h2 {
    text-align: center;
    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
}
/* Service-content-wrapper */

.service-content-wrapper {
    display: flex;
    gap: 2.9rem;
    max-width: 95%;
    margin: 0 auto;
}

.service {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    transition: transform 500ms ease;
    position: relative;
    overflow-x: hidden;
    background-color: #2A2A2A;
    color: #FDB813;
    border-radius: 1.1rem;
    cursor: pointer;
}
.service:nth-child(even) {
    background-color: #FDB813;
    color: #2A2A2A;
}
.service:nth-child(even)::after {
    background-color: #2A2A2A;
}

.service > i {
    font-size: 10rem;
    margin-bottom: 2rem;
}
.service > p {
    font-size: 2.2rem;
    text-align: center;
}
.service::after {
    content: '';
    position: absolute;
    background-color: #FDB813;
    bottom: 0; 
    width: 100%;
    height: 1rem;
    transition: transform 500ms ease;
    transform: translateX(-100%);
}
.service:hover {
    transform: scale(1.05);
}
.service:hover::after {
    transform: translateX(0);
}

@media (max-width:1225px) {
    

    .container-grid {
        grid-template-columns: 1fr;
    }
    .flying-box {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }
        .input-wrapper {
            font-size: 1.7rem;
        }
        .input-wrapper>i {
            max-width: 2.4rem;   
        }
    
        .input-wrapper>input {
            padding-left: 2.5rem;
            background-color: rgb(225, 225, 225);
            font-size: 1.8rem;
        }
        .logos-wrapper {
            flex-direction: column;
            gap: 0.4rem;
            height: fit-content;
            left: .4rem;
            bottom: 0;
        }
        .logos-wrapper img {
            max-height: 4rem;
            width: 4rem;
        }
        .service-content-wrapper{
            flex-direction: column;
        }
}